//@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

body,
button,
input {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
    color: #af2f2f26;
}